div(class="footer bg-white py-5")
    div(class="container w-[1200px] my-0 mx-auto flex items-start justify-between text-sm gap-5")
        div(class="footer__policy w-[19%]")
            p(class="footer__policy--title text-base font-semibold mb-3") Chính sách
            ul(class="footer__policy--list") 
                li(class="footer__policy--item")
                    a(href="") Mua hàng và thanh toán Online
                li(class="footer__policy--item")
                    a(href="") Mua hàng trả góp Online 
                li(class="footer__policy--item")
                    a(href="") Tra thông tin đơn hàng
                li(class="footer__policy--item")
                    a(href="") Tra điểm Smember 
                li(class="footer__policy--item")
                    a(href="") Xem ưu đãi Smember
                li(class="footer__policy--item")
                    a(href="") Tra thông tin bảo hành
                li(class="footer__policy--item")
                    a(href="") Tra cứu hoá đơn điện tử
        div(class="footer__shops w-[34%]")
            p(class="footer__policy--title text-base font-semibold mb-3") Chuỗi hệ thống cửa hàng 
            p Cơ sở 1: Số 215 Giáp Nhất, Nhân Chính, Thanh Xuân, Hà Nội
            p Cơ sở 1: Số 215 Giáp Nhất, Nhân Chính, Thanh Xuân, Hà Nội
            p Cơ sở 1: Số 215 Giáp Nhất, Nhân Chính, Thanh Xuân, Hà Nội
        div(class="footer__contact w-[22%]")
            p(class="footer__contact--title text-base font-semibold mb-3") Liên hệ với chúng tôi
            p Gọi mua hàng: 1800.2097 (7h30 - 22h00)
            p Gọi khiếu nại: 1800.2063 (8h00 - 21h30)
            p Gọi bảo hành: 1800.2064 (8h00 - 21h00)
        div(class="footer__payment w-[25%]")
            p(class="footer__paymen--title text-base font-semibold mb-3") Phương thức thanh toán
            div(class="footer__payment--wrapper flex flex-wrap px-[-5px]")
                div(class="footer__payment--item w-[25%] p-1 border border-gray-100 rounded-sm m-[5px] mt-0")
                    img(src="/images/views/alepay-logo.png", alt="" class="w-[100%] h-auto")
                div(class="footer__payment--item w-[25%] p-1 border border-gray-100 rounded-sm m-[5px] mt-0")
                    img(src="/images/views/zalopay-logo.png", alt="" class="w-[100%] h-auto")
                div(class="footer__payment--item w-[25%] p-1 border border-gray-100 rounded-sm m-[5px] mt-0")
                    img(src="/images/views/vnpay-logo.png", alt="" class="w-[100%] h-auto")
                div(class="footer__payment--item w-[25%] p-1 border border-gray-100 rounded-sm m-[5px] mt-0")
                    img(src="/images/views/moca-logo.png", alt="" class="w-[100%] h-auto")
                div(class="footer__payment--item w-[25%] p-1 border border-gray-100 rounded-sm m-[5px] mt-0")
                    img(src="/images/views/onepay-logo.png", alt="" class="w-[100%] h-auto")
                div(class="footer__payment--item w-[25%] p-1 border border-gray-100 rounded-sm m-[5px] mt-0")
                    img(src="/images/views/kredivo-logo.png", alt="" class="w-[100%] h-auto")
                div(class="footer__payment--item w-[25%] p-1 border border-gray-100 rounded-sm m-[5px] mt-0")
                    img(src="/images/views/mpos-logo.png", alt="" class="w-[100%] h-auto")